html {
    width:100vw;
    overflow-x:hidden;
}

body {
    margin: 0;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, p, h1, h2, h3 {
    color: black;
    opacity: 0.9;
}